<!DOCTYPE html>
<html lang='en'>

<script src='static/javascript/jquery-3.3.1.min.js'></script>
<script>

  function loadClientSecret() {
    $.getJSON('/json_client_secret', function (result) {
      document.getElementById('txtBox').value = JSON.stringify(result, null, '\t');
    });
  }

  function saveClientSecret() {
    let sendData = document.getElementById('txtBox').value;
    $.ajax({
      url: '/json_client_secret',
      type: "PUT",
      data: sendData,
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function () {
      }
    })

  }

</script>

<head>
	<meta charset='UTF-8'>
	<title>Client Secret</title>
</head>

<body>

<br>
<button onclick="loadClientSecret()">Load</button>
&nbsp;&nbsp;&nbsp;&nbsp;
<button onclick="saveClientSecret()">Save</button>
<br>

<label>
	<br>
	JSON Client Secret
	<br>
	<textarea rows='25' cols='75' id='txtBox'>
</textarea>
</label>

</body>

</html>