<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Setup</title>
</head>
<body>

<h1>Initial Setup</h1><br>

<h2>Step 1 - Verify Configuration Settings</h2>
<a href="/config">/config</a> - Displays application configuration<br><br><br>

<h2>Step 2 - Verify Google API Client Secret</h2>
<a href="/client_secret">/config</a> - Displays application configuration<br><br><br>

<h2>Step 3 - Allow this application access to your Google Photos (Read Only)</h2>
<a href="/authorize">/authorize</a> - Google Photos API Authorization (OAuth2)<br><br><br>

<h2>Step 4 - Enjoy</h2>
<a href="/">/play.html</a><br><br><br>

--------------------------------------------------
--------------------------------------------------
--------------------------------------------------<br>

<h5>
	Additional Links<br>
	<a href="/random">/random</a> - Returns a Random Media Item saved locally<br>
	<a href="/json_config">/json_config</a> - Returns this application configuration in JSON format<br>
	<a href="/revoke">/revoke</a> - Remove this applications access to Google Photos and deletes any saved credentials<br>
	<a href="/oauth2callback">/oauth2callback</a> - OAuth2 Callback Link - This is not needed required to run manually<br>
</h5>

</body>
</html>